<%# OVERRIDE Hyrax 2.9.1 to remove the hardcorded image width & enable markdown %>
<div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <h3>
      <%= link_to [main_app, featured] do %>
        <%# OVERRIDE here to enable markdown %>
        <%= render_thumbnail_tag(featured, {alt: "#{featured.title.first.to_s} #{ t('hyrax.homepage.admin_sets.thumbnail')}" }, {suppress_link: true}) + markdown(featured.title.first) %>
      <% end %>
    </h3>
  </div>
  <%# Removed Depositor %>
  <%# Removed item keywords %>
</div>
