stages:
  - build
  - go

variables:
  DOCKER_DRIVER: overlay2
  REGISTRY_HOST: registry.gitlab.com
  REGISTRY_URI: /notch8/palni-palci

before_script:
  - export TAG=${CI_COMMIT_SHORT_SHA}
  - export BRANCH=${CI_COMMIT_REF_NAME}
  - export REPO_URL=${CI_REPOSITORY_URL}
  - touch .env.development

build:
  stage: build
  script:
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - sc build
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - sc push
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  tags:
    - local

test:
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  stage: go
  services:
    - name: selenium/standalone-chrome-debug:3.141.59-20201010
      alias: chrome
    - name: postgres:10-alpine
      alias: db-test
    - name: solr:7.5
      alias: solr
      command: ["solr", "-c", "-f"]
    - name: ualbertalib/docker-fcrepo4:4.7
      alias: fcrepo
    - name: redis:4-alpine
      alias: redis-test
      command: ["redis-server"]
  variables:
    CAPYBARA_SERVER: build
    CHROME_HOSTNAME: chrome
    HUB_URL: http://chrome:4444/wd/hub
    FF_NETWORK_PER_BUILD: 1
    DATABASE_ADAPTER: postgresql
    DATABASE_HOST: db-test
    DATABASE_NAME: hyku
    DATABASE_PASSWORD: DatabaseFTW
    DATABASE_USER: postgres
    DATBASE_TEST_NAME: hyku_test
    FEDORA_URL: http://fcrepo:8080/fcrepo/rest
    GIT_STRATEGY: none
    IN_DOCKER: 'true'
    LD_LIBRARY_PATH: /opt/fits/tools/mediainfo/linux
    POSTGRES_DB: hyku_test
    POSTGRES_PASSWORD: DatabaseFTW
    POSTGRES_USER: postgres
    RAILS_ENV: test
    RAILS_LOG_TO_STDOUT: 'true'
    RAILS_SERVE_STATIC_FILES: 'true'
    REDIS_HOST: redis-test
    REDIS_PORT: '6379'
    SECRET_KEY_BASE: asdf
    SETTINGS__ACTIVE_JOB__QUEUE_ADAPTER: sidekiq
    SETTINGS__BULKRAX__ENABLED: 'true'
    SETTINGS__FITS_PATH: /opt/fits/fits.sh
    SETTINGS__RESTRICT_CREATE_AND_DESTROY_PERMISSIONS: 'true'
    SETTINGS__MULTITENANCY__ADMIN_HOST: hyku.docker
    SETTINGS__MULTITENANCY__ADMIN_ONLY_TENANT_CREATION: 'false'
    SETTINGS__MULTITENANCY__DEFAULT_HOST: '%{tenant}.hyku.docker'
    SETTINGS__MULTITENANCY__ENABLED: 'true'
    SETTINGS__SOLR__URL: http://solr:8983/solr/
    SETTINGS__ZOOKEEPER__CONNECTION_STR: solr:9983/configs
    SOLR_URL: http://solr:8983/solr/
    TB_RSPEC_OPTIONS: --tag ~speed:slow --format RspecJunitFormatter --out rspec.xml
    TB_RSPEC_FORMATTER: progress
  script:
    - rm -f /app/samvera/hyrax-webapp/tmp/capybara/*
    - rm -rf $CI_PROJECT_DIR/capybara
    - gem install semaphore_test_boosters
    - cd /app/samvera/hyrax-webapp/ && bundle exec rake zookeeper:upload db:create db:schema:load
    - rspec_booster --job $CI_NODE_INDEX/$CI_NODE_TOTAL
  after_script:
    - cp /app/samvera/hyrax-webapp/rspec.xml $CI_PROJECT_DIR/rspec.xml
    - cp -r /app/samvera/hyrax-webapp/tmp/capybara $CI_PROJECT_DIR/capybara
  allow_failure: false
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  artifacts:
    paths:
      - rspec.xml
      - capybara/*.html
    reports:
      junit: rspec.xml
    expire_in: 1 week
    when: always
  tags:
    - docker
  parallel: 6

staging:
  stage: go
  script:
    - export KUBECONFIG=$KUBECONFIG_PALS
    - "keybase status | grep 'Logged in:     no' && keybase oneshot"
    - ./chart/bin/decrypt staging
    - ./chart/bin/deploy staging $CI_COMMIT_SHORT_SHA
  after_script:
    - rm -f ./chart/*-values.yaml
    - keybase logout
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
  allow_failure: true
  tags:
    - local

production:
  stage: go
  script:
    - export KUBECONFIG=$KUBECONFIG_PALS
    - "keybase status | grep 'Logged in:     no' && keybase oneshot"
    - ./chart/bin/decrypt production
    - ./chart/bin/deploy production $CI_COMMIT_SHORT_SHA
  after_script:
    - rm -f ./chart/*-values.yaml
    - keybase logout
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
  allow_failure: true
  tags:
    - local
