<% #OVERRIDE Hyrax 5.0.1 for Atla shared search theme homepage %>
<div class="banner-section-wrapper">
  <div class="image-masthead row">
      <div class="col-xs-12 col-md-2">
        <div class="col-xs-12 logo-section">
          <%= render '/logo' %>
        </div>
      </div>
   <div class= "col-xs-12 col-md-10 section-contrast">
      <div class="row banner-section">
        <div class="col-xs-12 controls-section">
          <%= render '/controls' %>
        </div>
      </div>
   </div>
  </div>
<div class="container homepage-container">
     <h2>Search across all repositories</h2>
     <div class= "row">
          <%= render partial: 'catalog/search_form'%>
     </div>
</div>
