<% # April's note: overriding Hyrax 2.9 template for client theming %>
<% collections.each do |collection| %>
  <div class="col-xs-2">
    <%= link_to [hyrax, collection] do %>
      <%= render_thumbnail_tag(collection, {suppress_link: true}, class: 'img-responsive center-block') %>
    <% end %>
  </div>
<% end %>