<% # April's note: overriding Hyrax 2.9 template for client theming %>
<div class="col-xs-3">
  <%= link_to [main_app, featured] do %>
    <%= render_thumbnail_tag(featured, {suppress_link: true}, class: 'img-responsive center-block') %>
  <% end %>
</div>