<% if Hyrax.config.display_media_download_link? && can?(:download, file_set.id) %>
  <div>
    <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
    <%= image_tag default_work_image,
    class: "representative-media",
      alt: "default",
      role: "presentation" %>
    <%= link_to t('hyrax.file_set.show.download'),
    hyrax.download_path(file_set),
    data: { turbolinks: false, label: file_set.id },
    target: :_blank,
    id: "file_download" %>
  </div>
<% else %>
  <div>
    <%= image_tag default_work_image,
    class: "representative-media",
      alt: "default",
      role: "presentation" %>
  </div>
<% end %>
