<% content_for :page_title, application_name %>
<% content_for(:container_class) { 'row' } %>
<section id="banner" class="jumbotron">
</section>

<section class="product-features">
  <div class="row grid-row accounts-row">
    <% @accounts.each_with_index do |account, i| %>
      <div class="col-xs-12 col-sm-4 grid-item">
        <div class='logo-set'>
          <%= image_tag @images[i], class: 'img-responsive img-thumbnail' %>
        </div>
        <h2 class="heading"><%= link_to account.cname, "//#{account.cname}" %></h2>
      </div>
    <% end %>
  </div>
</section>
