<%# OVERRIDE Hyrax 3.4.2 to enable markdown for search results collection titles %>

<div class="search-results-title-row">
  <h4 class="search-result-title"><%= markdown(link_to document.title_or_label, generate_work_url(document.to_h, request)) %></h4>
  <%= Hyrax::CollectionPresenter.new(document, current_ability).collection_type_badge %>
</div>
