<%# TODO: Remove header and add appropriate form fields when we have more info %>
<h2>OIDC FIELDS</h2>
<%= f.input :oidc_client_id, label: t('hyku.auth_provider.label.client_id'), required: true %>
<%= f.input :oidc_client_secret, label: t('hyku.auth_provider.label.client_secret'), required: true %>
<%= f.input :oidc_idp_sso_service_url, label: t('hyku.auth_provider.label.idp_sso_service_url') %>
