html, body {
     font-family: 'Muli', Helvetica, sans-serif;
     font-size:1em;
}

img {max-width:100%;}


/* landing page for app */

/*top nav bar*/
body.splash-index.public-facing .navbar-inverse {
    background-color: #fff;
    border-color: #258FCE;
}
.navbar-static-top {border-width: 3px 0 0;}
body.splash-index.public-facing a,body.splash-index.public-facing .navbar-inverse .navbar-nav > li > a, body.splash-index.public-facing .navbar-inverse .navbar-text, body.splash-index.public-facing .navbar-inverse .navbar-brand {
     color:#258FCE;
     padding:1em;
}
a#skip-to-content{padding:0;}

footer.navbar.navbar-inverse.site-footer {
     border:0;
     border-bottom:3px solid #258FCE;
}

body.splash-index span.institution_name {
    display: none;
}

/* in page content */

body.splash-index .home-logo {
     margin-bottom:2em;
}

body.splash-index .right-side{
     text-align:center;
}

body.splash-index.public-facing h2{
     font-family: 'PT Serif';
     margin:4.5em 0 1em 0;
     color:#4d4e4e;
     font-size:1.5em;
}

body.splash-index button.shared-search {
     border: none;
     color: white;
     padding: 1em;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 1em;
     /*font-weight:700;*/
     margin: 0 2px 1.25em 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     background-color:#E05C3F;/*#D43D1C*/
     box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
     border-radius:3px;
}

body.splash-index button.shared-search:hover{
     background-color:#D43D1C;
     border: 1px solid #E05C3F;
}

body.splash-index .text-right p{color:#258FCE;}

.proprietor-accounts .btn-primary a:visited {color:white!important;}
body.splash-index.public-facing a:hover, body.public-facing a:focus {color:#ffffff;text-decoration:underline;}


/* Work show metadata layout */
.works-show p.work_description {margin-top:1em;}
.works-show dl.work-show {margin-top: 1em;}

.work-show ul.tabular, .scholarly_show .work-show ul.tabular{padding-inline-start: 0px;}
.work-show dt {padding-bottom:0;}

/* hide work type on work show pages */
.works-show .work-type-tag {display:none;}

/* Collection show layout */

.hyc-banner .hyc-title h1, .hyc-banner .hyc-bugs div{
     color:rgb(51, 51, 51);
     text-shadow:none;
}

.hyc-banner .hyc-title .label {
     -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.hyc-banner {min-height:95px;}


/* admin dashboard available works ETD all caps*/
.dashboard label[for="input-Etd"] {text-transform: uppercase;}

@media (min-width: 768px){
     body.splash-index .left-side {
         padding-left: 0px;
         padding-right: 50px;
     }
     body.splash-index .right-side {
         padding-left: 50px;
         padding-right: 10px;
     }
     body.splash-index button.shared-search {margin: 2em 2px 4px 2px;}

}
