<% presenter = featured.presenter %>
<li class="featured-item" data-id="<%= presenter.id %>">
  <div class="row">
    <div class="col-sm-10">
      <%= render 'themes/cultural_repository/featured_fields', featured: presenter %>
    </div>
  </div>
</li>
