<button
  class="btn btn-default btn-block"
  data-toggle="collapse"
  href="#collapse-citations"
  role="button"
  aria-expanded="false"
  aria-controls="collapse-citations"
>
  <%= t('.header') %>
</button>
         
<div id="collapse-citations" class="collapse">
  <h4>MLA citation style</h4>
  <span class="mla-citation"><%= export_as_mla_citation(@presenter) %></span>
  <br /><br />

  <h4>APA citation style</h4>
  <span class="apa-citation"><%= export_as_apa_citation(@presenter) %></span>
  <br /><br />

  <h4>Chicago citation style</h4>
  <span class="chicago-citation"><%= export_as_chicago_citation(@presenter) %></span>
  <br /><br />

  <p>
    <strong>Note:</strong>
    These citations are programmatically generated and may be incomplete.
  </p>
</div>