<% file_set_id = @presenter.file_set_presenters.first.id %>
<% if (can?(:download, file_set_id) || can?(:destroy, file_set_id) || can?(:edit, file_set_id)) && !workflow_restriction?(@parent) %>
  <% if can?(:download, file_set_id) && !(can?(:edit, file_set_id) || can?(:destroy, file_set_id)) %>
    <% if Site.account.settings[:allow_downloads].nil? || Site.account.settings[:allow_downloads].to_i.nonzero? %>
      <div class="download-pdf-controls">
          <% if Flipflop.default_pdf_viewer? && @presenter.representative_presenter.present? && presenter.file_set_presenters.any?(&:pdf?) %>
            <%= button_tag type: 'button',
                          id: "download_pdf",
                          data: { label: @presenter.representative_presenter.id, 
                                  path: hyrax.download_path(presenter.representative_presenter) },
                          class: "btn btn-success btn-block",
                          onclick: "window.open(this.dataset.path, '_blank');" do %>
              Download PDF
            <% end %>
          <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>