.neutral_repository {

  ////// Basic Apperance Styles //////

  .mb-40 {
    margin-bottom: 40px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .p-20 {
    padding: 20px;
  }

  .p-10 {
    padding: 10px;
  }

  // removes the blur on the banner image

  .image-masthead .background-container {
    -webkit-filter: none;
    filter: none;
  }

  ////// Collections Section //////

  .collection-item-title, .recent-doc-title {
    text-align: center;

    h3 {
      font-size: 14px !important;
      cursor: default;
      pointer-events: none;
      text-decoration: none;

      a {
        color: #000000;
      }
    }
  }

  .institutional-repository-collections {

    a {

      img {
        width: 200px !important;
        height: auto !important;
        display: block !important;
        margin: 0 auto !important;
      }
    }
  }

  ////// Recent Uploads Section //////

  div.neutral_repository.recently-uploaded {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .recent-uploads-div-height {
    display: flex;
    flex-direction: column;
  }

  .recently-uploaded {
    a {
      img {
        width: 90px !important;
        height: auto !important;
        display: block !important;
        margin: 0 auto !important;

      }
    }
  }

  div.recently-uploaded:nth-child(2n+3) {
    clear: left,
  }

  ////// Home Page text Section //////

  div.home_page_text.homepage-text-container {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .home_page_text::first-line {
    font-size: 24px;
  }

  .home_page_text {
    font-size: 18px;
  }

  ////// Featured Researcher Section //////
  .featured-researcher {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  div.neutral_repository.featured-researcher {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  ////// Carousel //////

  #featured-carousel {
    border: 1px solid #ccc;
    padding: 1em;
  }

  .carousel-opacity {
    background-color: rgba(102, 102, 102, 0.5) !important;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    width: auto;
    height: 350px;
    margin: auto;
  }

  div.carousel-caption {
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  // Note: copied over to override /* line 109, /usr/local/rvm/gems/ruby-2.5.3/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_carousel.scss */
  .carousel-control.left {
    background-image: none;
    filter: none;
  }

  // Note: copied over to override /* line 112, /usr/local/rvm/gems/ruby-2.5.3/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_carousel.scss */
  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    z-index: 10;
  }

  .glyphicon-menu-right, .glyphicon-menu-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-weight: 700;
    color: #555;
  }

  ////// Media Queries //////

  @media (min-width: $screen-xs-min) and (max-width: $screen-lg-min) {
    .institutional-repository-collections {
      a {
        img {
          width: 150px !important;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    div.institutional-repository-collections:nth-child(5n) {
      clear: left,
    }
  }

  @media (min-width: $screen-sm-min) {
    .recently-uploaded {
      a {
        img {
          width: 70px !important;
        }
      }
    }
  }

  @media (max-width: $screen-xs-min) {
    .institutional-repository-collections {
      a {
        img {
          width: 90px !important;
        }
      }
    }
  }

}