.shared_repository {

     &.public-facing, &.public-facing p {font-family: Muli, Helvetica, Arial, sans-serif!important;}
     &.public-facing h1, h2, h3, h4, h5, h6 {font-family: 'PT Serif', serif;}

     img {max-width:100%;}

     &.public-facing a {color:#E05C3F;}
     &.public-facing a:hover, &.public-facing a:focus{color:#D43D1C;}
     h3.panel-title.facet-field-heading a {color:#333333;}
     &.public-facing footer a {color:white;}
     &.public-facing footer a:hover, &.public-facing footer a:focus {color:white;}

     div.facets h3 {font-size:1em;}

     .text-success, .facet-values li .selected {color:#E05C3F;}

     /*top admin nav bar*/
     &.public-facing .navbar-inverse {
          background-color: #fff;
          border-color: #258FCE;
          }

     &.public-facing .navbar-static-top {border-width: 3px 0 0px}

     &.public-facing nav.navbar.navbar-default.navbar-static-top{
          border-width:0px;
          margin-top:1em;
     }

     &.public-facing .navbar-inverse .navbar-nav > li > a, &.public-facing .navbar-inverse .navbar-text, &.public-facing .navbar-inverse .navbar-brand {color:#258FCE;}

     &.public-facing .navbar-inverse .navbar-nav .open .dropdown-menu > li > a, .navbar-inverse .navbar-nav .open .twitter-typeahead .tt-menu > li > a, .twitter-typeahead .navbar-inverse .navbar-nav .open .tt-menu > li > a, &.public-facing .dropdown-header {color:#258FCE;}

     .navbar-inverse .navbar-collapse, .navbar-inverse #facet-panel-collapse, .navbar-inverse .navbar-form{border-color: #175E87;}

     ul#user_utility_links.nav.navbar-nav li  {background-color:transparent;}

     /* hide globe icon on linked logo*/
     .image-masthead .glyphicon {display:none;}

     &.public-facing #masthead #logo img {
          max-height:125px;
          padding-top:.5em;
          padding-left:.3em;
     }

     &.public-facing .navbar{margin-bottom:0;}

     &.public-facing .navbar + .navbar, .navbar + .image-masthead {margin-top:0;}

     /* removing background banner image */
     .image-masthead .background-container, .container.site-title-container {display:none;}
     .image-masthead .background-container-gradient {background:none;}

     /*hamburger menu*/
     &.public-facing button.navbar-toggle.collapsed,&.public-facing .navbar-inverse .navbar-toggle, &.public-facing .navbar-inverse .facets-toggle {background-color:#258FCE;}

     &.public-facing button.navbar-toggle.collapsed:hover{background-color:#175E87;}

     &.public-facing .navbar-inverse .navbar-toggle {border-color: #175E87;}

     &.public-facing .navbar-inverse .navbar-nav > .open > a, &.public-facing .navbar-inverse .navbar-nav > .open > a:hover, &.public-facing .navbar-inverse .navbar-nav > .open > a:focus{background-color: #258FCE;color:white;}

     .navbar-inverse .navbar-nav .open .dropdown-menu .divider, .navbar-inverse .navbar-nav .open .twitter-typeahead .tt-menu .divider, .twitter-typeahead .navbar-inverse .navbar-nav .open .tt-menu .divider{background-color: #175E87;}

     /* mobile stacked menu */
     .navbar-nav {margin:0}

     .image-masthead.row {margin-right:0;margin-left:0;}

     .image-masthead .navbar .navbar-nav {margin-left:0;}

     /* site nav bar on pages not catalog or login*/
     ul.nav.navbar-nav li  {background-color:#258FCE;}

     &.public-facing .image-masthead .navbar .active > a, &.public-facing .image-masthead .navbar .active > a:hover, &.public-facing .image-masthead .navbar .active > a:focus {background-color:#175E87;}
     &.public-facing .image-masthead .navbar {background-color: rgba(0, 0, 0, 0);}

     /* catalog/login nav bar */
     .navbar-default .navbar-nav li a {color:#eeeeee;text-transform: uppercase;}
     .navbar-default {background-color:transparent;}

     &.catalog nav.navbar.navbar-default.navbar-static-top, &.devise-sessions nav.navbar.navbar-default.navbar-static-top{
          margin-bottom:2em;
          border-bottom: 1px solid #e7e7e7;
     }

     &.catalog .navbar-nav, &.devise-sessions .navbar-nav {
          padding-left:1em;
          margin-block-end: 0;
     }

     &.devise-sessions .navbar-nav#user_utility_links {padding:0;}

     /* homepage page content */
     .container.homepage-container h2{
          font-family: 'PT Serif';
          margin:1.55em 0 0 0;
          color:#4d4e4e;/*313133*/
          font-size:1.5em;
          text-align:center;
     }

     .container.homepage-container .row {margin:0;}

     /* search bar */
     &.hyrax-homepage #search-form-header{
          max-width:600px;
          margin: 2em auto 0 auto;
     }
     /* search bar on other pages */
     .searchbar-right.navbar-right.col-sm-7 {
          max-width: 600px;
     }

     button.btn.btn-default.dropdown-toggle {display:none;}

     .form-horizontal .control-label, &.splash-index button.btn.btn-default.dropdown-toggle{display:none;}

      #search-field-header {
         padding: 25px 12px 20px 12px;
         border-top: 2px solid #E3E3E3 !important;
         border-bottom: 2px solid #E3E3E3 !important;
         border-left: 2px solid #E3E3E3 !important;
         border-right: 0px solid transparent !important;
     }
      button#search-submit-header {
         color: #575757;
         background-color: #fff !important;
         padding: 13px 12px 12px 12px;
         border-top: 2px solid #E3E3E3 !important;
         border-bottom: 2px solid #E3E3E3 !important;
         border-right: 2px solid #E3E3E3 !important;
         border-left: 0px solid transparent !important;
         border-top-right-radius: 5px;
         border-bottom-right-radius:5px;
     }

      input::placeholder{font-size:1.5em;}

      .row.home-content {display:none;}

      /* limit width for text in pages for better usability */
      &.public-facing.hyrax-pages #content-wrapper, &.public-facing.hyrax-contact_form #content-wrapper {max-width:800px;}
      /* adding space to text area for mobile view */
      &.public-facing.hyrax-pages div#content_block_page.row {margin-left:1em;margin-right:1em;}

      /* footer */
      &.public-facing footer.navbar.navbar-inverse.site-footer{
           border:0;
           border-bottom:3px solid #258FCE;
           background-color:#258FCE;
      }

      /*contact page*/
      &.public-facing .alert-info{
           background-color:rgba(37,143,206, .3);
           color:#333;
           border-color:#258FCE;
      }
      &.public-facing .alert{margin-left:0;}

      &.public-facing .btn.btn-primary, &.public-facing .btn-primary.facets-toggle, &.public-facing .field-controls .facets-toggle.add, .field-controls &.public-facing .facets-toggle.add, &.public-facing .field-controls .btn.add, .field-controls &.public-facing .btn.add, &.public-facing .field-controls td.toggle input.add[type=submit], .field-controls td.toggle &.public-facing input.add[type=submit], &.public-facing td.toggle .field-controls input.add[type=submit], td.toggle .field-controls &.public-facing input.add[type=submit], &.public-facing td.toggle input.btn-primary[type=submit], td.toggle &.public-facing input.btn-primary[type=submit], &.public-facing td.toggle input[type=submit].active, td.toggle &.public-facing input[type=submit].active{
           background-color:#E05C3F;
           border-color: #E05C3F;
      }

       &.hyrax-contact_form .btn.btn-primary{box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);}

     /* splash */
     &.public-facing.hyrax-homepage #masthead.navbar {margin-bottom:20px;}
     &.hyrax-homepage .navbar-header{display:none;}

     &.hyrax-homepage .home-logo {
          margin-bottom:2em;
     }

     &.hyrax-homepage .right-side{
          text-align:center;
     }
     &.hyrax-homepage h2{
          font-family: 'PT Serif';
          margin:3.5em 0 .5em 0;
          color:#4d4e4e;
          font-size:1.5em;
     }
     &.hyrax-homepage .splash-browse h2 {margin:1em 0 1em 0;}
     &.hyrax-homepage #search-form-header {margin-top:1em;}
     &.hyrax-homepage .text-right p{color:#258FCE;}


     /* hide custom field host institution */
          /* hide the label in works list */
        dt[data-solr-field-name="institution_tesim"] {
            display: block;
        }

        /* hide the value in works list */
        &.catalog-index div.metadata dl.dl-horizontal dd:last-child {
            display: block;
        }

        /* hide from the facets */
        .panel.panel-default.facet_limit.blacklight-institution_sim {
            display: block;
        }



     @media screen and (min-width:768px){

          .dropdown-menu .divider, .twitter-typeahead .tt-menu .divider{
          background-color: #e5e5e5;}

          /* site nav bar on pages not catalog or login*/
          .image-masthead .navbar-nav{
               padding-left:1em;
               padding-top: 2em;
          }

          .image-masthead.row {margin-right:-15px;margin-left:-15px;}

          /* catalog/login nav bar */
          &.catalog .navbar-nav, &.devise-sessions .navbar-nav {
               padding-top:2em;
          }
          &.devise-sessions .navbar-nav#user_utility_links,&.catalog .navbar-nav#user_utility_links {padding:0;}

          #search-form-header{
               margin:0;
          }

          /* removing extra space to text area for larger view on pages */
          &.public-facing.hyrax-pages div#content_block_page.row {margin-left:0em;margin-right:0em;}

          &.public-facing .alert{width:83%;}

          /* splash */
          &.hyrax-homepage .left-side {
               padding-left: 0px;
               padding-right: 50px;
          }
          &.hyrax-homepage .right-side {
               padding-left: 50px;
               padding-right: 10px;
          }

          &.hyrax-homepage .splash-browse {padding-top:1em;}

     }

}
